doctype
html(lang="ja")
  head
    include partials/_meta.pug
  body
    block header
      header.header
        p.logo 
    block content
      .content
        p 
    block footer
      footer.footer
        p 
